/* ROOT */

:root {
  --color-theme-color: #2f303a;
  --color-team-background: #f5f4fa;
  --color-full-white: #ffffff;
  --color-light-black: #212121;
  --color-buttom-nav-blue: #2196f3;
  --color-grey-light: #757575;
}
.link:hover {
  text-decoration: underline;
}
button:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
/* BODY-STYLE */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-full-white);
}

/* HEADER-INDEX */
.menu-logo {
  color: var(--color-buttom-nav-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.menu-link-logo-type {
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.navigation-pick > li > a {
  color: var(--color-light-black);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-pick > li > .link:hover {
  color: var(--color-buttom-nav-blue);
  cursor: pointer;
}

.contact-header > li > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey-light);
  text-decoration: none;
}

/* MAIN-INDEX */

.hero {
  background-color: var(--color-theme-color);
}

.hero > button {
  background-color: var(--color-buttom-nav-blue);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-full-white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  cursor: pointer;
}
.hero > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.art-main > li > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
}

.art-main > li > h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light-black);
}

.heading-style > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
}
.team-main > .team-secondary > li {
  background-color: var(--color-team-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
}
.team-role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-grey-light);
}

/* FOOTER-INDEX */
/* HEADER-PORTFOILO */
/* MAIN-PORTFOLIO */

.buttons-style > li > button:hover {
  background-color: var(--color-buttom-nav-blue);
  color: var(--color-full-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
}
.buttons-style > li > button {
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
  padding: 6px 22px 6px 22px;
}

.project-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-light-black);
}
.project-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
}

.portfolio-list > li {
  background-color: var(--color-full-white);
  border: 1px solid #eeeeee;
}

/* FOOTER*/

.contact-main {
  background-color: var(--color-theme-color);
}
.contact-main > .menu-link-logo-type {
  color: var(--color-full-white);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.contact-list > li > a[href="https://goo.gl/maps/yP13i9epQqiqHnS6A"]
{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-full-white);
}

.contact-list > li > a[href="mailto:info@example.com"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list > li > a[href="tel:48111111111"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
