/* ROOT */

:root {
  --color-theme-color: #2f303a;
  --color-team-background: #f5f4fa;
  --color-full-white: #ffffff;
  --color-light-black: #212121;
  --color-buttom-nav-blue: #2196f3;
  --color-grey-light: #757575;
}
.link:hover {
  text-decoration: underline;
}
button:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}
* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-2 {
  margin-top: -94px;
}
/* BODY-STYLE */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-full-white);
  box-sizing: border-box;
}

/* HEADER-INDEX */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-logo {
  color: var(--color-buttom-nav-blue);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
}

.menu-link-logo-type {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}
.navigation {
  display: flex;
  gap: 46px;
  align-items: center;
  margin-right: 371px;
}
.nav-item {
  color: var(--color-light-black);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation > .link:hover {
  color: var(--color-buttom-nav-blue);
  cursor: pointer;
  text-decoration: none;
}

.contact-header > .link:hover {
  color: var(--color-buttom-nav-blue);
  cursor: pointer;
  text-decoration: none;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-right: 227px;
}
.header-contact-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey-light);
  text-decoration: none;
}

/* MAIN-INDEX */

.container-effect {
  background-color: var(--color-theme-color);
}
.container-effect-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.effect-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  max-width: 696px;

  align-items: center;
  justify-content: center;
}

.button-item {
  background-color: var(--color-buttom-nav-blue);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-full-white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  cursor: pointer;
}

.container-effect-art {
  display: flex;
}
.art-main {
  display: flex;
  flex-direction: row;

  gap: 30px;
}

.title-art-effect {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light-black);
  margin-bottom: 10px;
}
.content-art-effect {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
}
.tittle-wwd {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.wwd-pics-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.tittle-wwd {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
}

.our-team-background {
  background-color: #f5f4fa;
}
.tittle-our-team {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}

.tittle-our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
}
.box-list > li {
  background-color: var(--color-full-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.box-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
  margin-bottom: 30px;
}

/* FOOTER-INDEX */
/* HEADER-PORTFOILO */
/* MAIN-PORTFOLIO */

.button-pick-effects {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.buttons-style > li > button:hover {
  background-color: var(--color-buttom-nav-blue);
  color: var(--color-full-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
}

.buttons-style {
  display: flex;
  gap: 8px;
}
.button-list {
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
  padding: 6px 22px 6px 22px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list > li > h3 {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-list > li > p {
  background-color: var(--color-full-white);
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-light-black);
  display: flex;
  padding: 20px 24px 4px;
}
.project-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
  display: flex;
  padding: 4px 24px 20px;
}

/* FOOTER*/
.footer-background {
  background-color: var(--color-theme-color);
}

.footer-box-effect {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;
}
.footer-box-effect > a {
  color: var(--color-full-white);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.contact-list > li > a[href="https://goo.gl/maps/yP13i9epQqiqHnS6A"]
{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-full-white);
}

.contact-list > li > a[href="mailto:info@example.com"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list > li > a[href="tel:48111111111"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list > li > a:hover {
  text-decoration: underline;
}
