/* ROOT */

:root {
  --color-theme-color: #2f303a;
  --color-team-background: #f5f4fa;
  --color-full-white: #ffffff;
  --color-light-black: #212121;
  --color-buttom-nav-blue: #2196f3;
  --color-grey-light: #757575;
  --icon-hover-color: #2196f3;
}
.link:hover,
.link:focus {
  text-decoration: underline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
button:hover button:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;

  text-decoration: underline;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}
* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-2 {
  margin-top: -94px;
}
/* BODY-STYLE */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-full-white);
  box-sizing: border-box;
}

/* HEADER-INDEX */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-logo {
  color: var(--color-buttom-nav-blue);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.menu-link-logo-type {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}
.navigation {
  display: flex;
  gap: 46px;
  align-items: center;
  margin-right: 371px;
}
.nav-item {
  color: var(--color-light-black);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation > .link:hover {
  color: var(--color-buttom-nav-blue);
  cursor: pointer;
  text-decoration: none;
}

.underline-nav > .link:hover,
.underline-nav > .link:focus {
  color: var(--color-buttom-nav-blue);
  cursor: pointer;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.underline-nav {
  position: relative;
}

.underline-nav::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  margin-top: 28px;
  display: block;
  background-color: var(--color-buttom-nav-blue);
  border-radius: 2px;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 227px;
  gap: 30px;
}
.phone-effect:hover,
.phone-effect:focus {
  color: var(--color-buttom-nav-blue);
  --color1: var(--color-buttom-nav-blue);
  cursor: pointer;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.phone-effect {
  display: flex;
  gap: 10px;
  align-items: center;
}

.envelope-effect {
  display: flex;
  gap: 10px;
  align-items: center;
}

.envelope-effect:hover,
.envelope-effect:focus {
  color: var(--color-buttom-nav-blue);
  fill: var(--color-buttom-nav-blue);
  cursor: pointer;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.envelope-effect {
  fill: var(--color-grey-light);
}

.envelope-hover-effect:hover,
.header-contact-link:hover,
.envelope-hover-effect:focus,
.header-contact-link:focus {
  color: var(--color-buttom-nav-blue);
  fill: var(--color-buttom-nav-blue);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  text-decoration: none;
}

.header-contact-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey-light);
  text-decoration: none;
}

/* MAIN-INDEX */

.container-effect-background {
  background-image: url("../images/background-header.jpg");
}
.container-effect-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.effect-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  max-width: 696px;

  align-items: center;
  justify-content: center;
}

.button-item {
  background-color: var(--color-buttom-nav-blue);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-full-white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px 40px 40px 40px;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--color-full-white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s ease-in;
}
.is-hidden .modal {
  transform: scale(0);
}
.modal-close-button {
  border-radius: 50%;
  background-color: var(--color-full-white);
  position: absolute;
  right: 20px;
  top: 10px;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal > button {
  justify-content: center;
}
.modal > button:hover {
  cursor: pointer;
}

.form-tittle {
  padding-bottom: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs-size {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 40px;
}
.inputs-size > label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
input[type="email"],
input[type="tel"],
input[type="text"] {
  padding-left: 40px;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-bottom: 2px;
}
.inputs-size > input:hover,
.inputs-size > input:focus-within,
.inputs-size > textarea:hover,
.inputs-size > textarea:focus-within {
  border: 1px solid #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
input:hover + svg,
input:focus + svg {
  fill: #2196f3;
}
.input-icon {
  position: absolute;
  margin-top: 28px;
  margin-left: 12px;
}

textarea[name="comment"] {
  display: flex;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.rules-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 7px;
  align-items: center;
}
.checkbox-input {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(1px, 1px, 1px, 1px);
}
.checkbox-label {
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
.check-box-size {
  position: relative;
  width: 16px;
  height: 15px;
}
.checkbox-label:hover {
  border-color: #2196f3;
  border-radius: 2px;
}
.checkbox-label::after {
  content: "";
  position: absolute;
  border: 0.2px solid #ffffff;
  right: 4px;
  top: 2px;
  width: 50%;
  height: 50%;
  transform: rotate(-52deg);
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: var(--color-full-white);
}
.checkbox-input:checked + .checkbox-label {
  background: #2196f3;
  border-radius: 2px;
  border: 1px solid #2196f3;
}

.rules {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.rule-info {
  color: #2196f3;
}
.submit-modal {
  display: flex;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  border: none;
}
.container-effect-art {
  display: flex;
}
.art-main {
  display: flex;
  flex-direction: row;

  gap: 30px;
}

.title-art-effect {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light-black);
  margin-bottom: 10px;
}
.content-art-effect {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
  text-align: justify;
  max-width: 270px;
  max-height: 75px;
}
.background-art-svg {
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 270px;
  max-height: 120px;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.tittle-wwd {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.wwd-pics-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.wwd-pics-pos {
  position: relative;
  display: inline-flex;
}
.wwd-pics-desc {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-full-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.tittle-wwd {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
}

.our-team-background {
  background-color: #f5f4fa;
}
.tittle-our-team {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}

.tittle-our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
}
.box-list > li {
  background-color: var(--color-full-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.box-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
}
.team-media-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 30px;
}
.team-media-icons > svg {
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.team-media-icons > svg:hover,
.team-media-icons > svg:focus {
  fill: var(--color-full-white);
  background-color: var(--color-buttom-nav-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.section > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
}
.client-logos-container {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
.border-client-logo {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  align-items: center;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.border-client-logo:hover,
.border-client-logo:focus {
  fill: var(--icon-hover-color);
  border-color: var(--icon-hover-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
/* FOOTER-INDEX */
/* HEADER-PORTFOILO */
/* MAIN-PORTFOLIO */

.button-pick-effects {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.buttons-style > li > button:hover,
.buttons-style > li > button:focus {
  background-color: var(--color-buttom-nav-blue);
  color: var(--color-full-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.buttons-style {
  display: flex;
  gap: 8px;
}
.button-list {
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
  padding: 6px 22px 6px 22px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.project-card {
  background-color: var(--color-full-white);
  max-width: 370px;
}
.overlay:hover,
.overlay:focus {
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--color-full-white);
  letter-spacing: 0.03em;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
}
.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.overlay-box:hover .overlay,
.overlay-box:focus .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list > li > h3 {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-list > li > p {
  background-color: var(--color-full-white);
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-list > li:hover {
  border: 0px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-light-black);
  display: flex;
  padding: 20px 24px 4px;
}
.project-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
  display: flex;
  padding: 4px 24px 20px;
}

/* FOOTER*/
.footer-background {
  background-color: var(--color-theme-color);
}
.footer-flex-container {
  display: flex;
}

.footer-box-effect {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
  gap: 20px;
}
.footer-box-effect > a {
  color: var(--color-full-white);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.contact-list > li > a[href="https://goo.gl/maps/yP13i9epQqiqHnS6A"]
{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-full-white);
}

.contact-list > li > a[href="mailto:info@example.com"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list > li > a[href="tel:48111111111"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list > li > a:hover,
.contact-list > li > a:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  text-decoration: underline;
}

.join-us {
  display: flex;
  padding-bottom: 20px;
}
.join-us > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-full-white);
  margin-top: 72px;
}
.icon-join-container {
  display: flex;
  gap: 10px;
}
.icon-join-container > svg {
  fill: var(--color-full-white);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.icon-join-container > svg:hover,
.icon-join-container > svg:focus {
  background: var(--icon-hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.newsletter-container {
  padding-top: 72px;
  margin-left: 78px;
}

.newsletter-button {
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-full-white);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px;
  width: 200px;
  height: 50px;
}
.newsletter-button:hover,
.newsletter-button:focus {
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-container > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-full-white);
  padding-bottom: 20px;
}
.form-newsletter > input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--color-full-white);
}
.form-newsletter > input:hover,
.form-newsletter > input:focus-within {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.newsletter-icon {
  margin-left: 24px;
  margin-right: 0;
}

.form-newsletter {
  display: flex;
  gap: 12px;
}
