@use "../utils/vars" as *;
.link:hover,
.link:focus {
  text-decoration: underline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.btn:hover,
.btn:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  cursor: pointer;
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}
* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--2 {
  margin-top: -94px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-full-white);
  box-sizing: border-box;
}

.btn {
  font-family: $main-font;
  font-style: normal;
  font-weight: $fontMedium;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: getColor("fourth");
  background: getbackgroundColor("third");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.section__tittle {
  font-family: $main-font;
  font-style: normal;
  font-weight: $fontMedium;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor("primary");
}
